{% include "header.html" %}
{% load static %}
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <div class="text-bg">
                     <h1>Find Your own Private Ride</h1>
                     <strong>Online Ride Booking/Sharing System</strong>
                     <span>ShareDo 2023</span>
                     <p>
                        ShareDo is your passport to freedom on the open road. Whether you're commuting to work, embarking on a weekend adventure, or simply need a convenient way to run errands, we've got the perfect ride waiting for you. 
                        <head></head>
                     </p>
                     <a href="{% url 'aboutus' %}">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
      <!-- end banner -->
      <!-- car -->
      <div  class="car">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>VARIETY OF RIDES </h2>
                     <span>Explore convenience in our wide array of rides, from eco-friendly to luxury options, serving all your travel needs. Pick the ideal ride for any occasion and budget.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 padding_leri">
                  <div class="car_box">
                     <figure><img src="{% static 'images/car_img1.png' %}" alt="#"/></figure>
                     <h3>Cars</h3>
                  </div>
               </div>
               <div class="col-md-4 padding_leri">
                  <div class="car_box">
                     <figure><img src="{% static 'images/bike_img1.png' %}" alt="#"/></figure>
                     <h3>MotorCycle</h3>
                  </div>
               </div>
               <div class="col-md-4 padding_leri">
                  <div class="car_box">
                     <figure><img src="{% static 'images/scorpio.jpeg' %}" alt="#"/></figure>
                     <h3>Scorpio</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end car -->
      <!-- bestCar -->
      {% comment %} <div id="contact" class="bestCar">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-md-6 offset-md-6">
                        <form class="main_form">
                           <div class="titlepage">
                              <h2>Find A  Best Car For Rent</h2>
                           </div>
                           <div class="row">
                              <div class="col-md-12 ">
                                 <select>
                                    <option value="0">Choose car Make</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                 </select>
                              </div>
                              <div class="col-md-12">
                                 <select>
                                    <option value="0">Choose Car Type </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                 </select>
                              </div>
                              <div class="col-md-12">
                                 <input class="contactus" placeholder="Search" type="Search" name="Search">                          
                              </div>
                              <div class="col-md-12">
                                 <select>
                                    <option value="0">Price of Rent</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                 </select>
                              </div>
                              <div class="col-sm-12">
                                 <button class="find_btn">Find Now</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> {% endcomment %}
      <!-- end bestCar -->
      <!-- choose  section -->
      <div class="choose ">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style="color: grey;">Why Choose Us</h2>
                     <span style="color: white;">User-focused approach of our Ride Sharing/Booking System, making it the ideal choice for those seeking a reliable and forward-thinking transportation solution. </span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>01</span>
                     <p style="color: white" >Our Ride Sharing/Booking System stands out for its intuitive and user-friendly interface, ensuring a hassle-free experience from booking to reaching the destination. With streamlined processes and a straightforward design, users can effortlessly navigate the platform, making it the go-to choice for those seeking convenience in their transportation needs.</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>02</span>
                     <p style="color: white" >Safety is paramount in our project, and we've implemented state-of-the-art safety measures. User-Verification features provide users with a secure and trustworthy environment. Choosing our system means prioritizing safety throughout the entire ride, giving peace of mind to both riders and drivers.</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>03</span>
                     <p style="color: white" > In an era where sustainability matters, our Ride Sharing/Booking System takes a proactive approach to environmental responsibility. By promoting and encouraging ride-sharing, we contribute to reducing individual carbon footprints and fostering a greener future.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end choose  section -->
      <!-- cutomer -->
      <div class="cutomer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Mid-West University</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="cross_img">
                                    <figure><img src="{% static 'images/group.png' %}" alt="#"/></figure>
                                 </div>
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Group C</h4>
                                       <span>ShareDo</span>
                                       <p>Greetings from Group C! We are a dynamic team united by our passion for revolutionizing transportation through our innovative project—a cutting-edge Ride Sharing/Booking System. Committed to enhancing convenience, safety, and sustainability, we aim to create a user-centric platform that simplifies the commuting experience. With a focus on efficiency, advanced safety features, and eco-friendly options, we strive to redefine how people connect and travel.</p>
                                       <i><img src="{% static 'images/te1.png' %}" alt="#"/></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="cross_img">
                                    <figure><img src="{% static 'images/hari.png'' %}" alt="#"/></figure>
                                 </div>
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Supervisor</h4>
                                       <span> Er. Hari Narayan Yadav</span>
                                       <p>Meet our esteemed project supervisor, Er. Hari Narayan Yadav. With a wealth of experience, He guides our team with expertise and dedication, ensuring our Ride Sharing/Booking System project reaches new heights. He inspires us to innovate and strive for excellence, making Er. Hari Narayan Yadav sir, an invaluable leader in our pursuit of transformative solutions.</p>
                                       <i><img src="{% static 'images/te1.png' %}" alt="#"/></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="cross_img">
                                    <figure><img src="{% static 'images/college.png' %}" alt="#"/></figure>
                                 </div>
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Mid-West University</h4>
                                       <span>GSE, Computer Engineering</span>
                                       <p>Welcome to our Computer Faculty at Mid-West University! We're dedicated to fostering innovation and expertise in the dynamic field of computer science. Our experienced faculty members are here to guide you through cutting-edge courses, ensuring you're well-prepared for success in the fast-paced world of technology. Join us in shaping the future of computing!</p>
                                       <i><img src="{% static 'images/te1.png' %}" alt="#"/></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end cutomer -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="cont_call">
                        <h3> <strong class="multi color_chang"> Call Now</strong><br>
                           (+977) 9847823255
                        </h3>
                     </div>
                     <div class="cont">
                        <h3> <strong class="multi"> ShareDo ;</strong> 
                           Ride Sharing/Booking System
                        </h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
   </body>
</html>

